
.home {
    background: url("../../images/first_web_background.png") no-repeat;
    background-size: cover;

    section {
        text-align: left;
        width: 50%;
        margin-top: 100px;
        @include tablet-landscape {
            text-align: center;
            padding-top: 200px;
            margin: auto;
        }

        h1 {
            color: #fff;
            font-size: 70px;
            text-transform: capitalize;
            font-weight: 700;
        }

        p {
            margin-top: 50px;
            color: #fff;
            font-size: 20px;
            width: 75%;
            @include tablet-landscape {
                width: 100%;
                margin: 50px auto;
            }
            line-height: 22px;
        }

        button {
            margin-top: 100px;
            @include tablet-landscape {
                margin-top: 0;
            }
            background-color: #ff4268;
            color: #fff;
            text-transform: uppercase;
            padding: 20px 30px;
            border: none;
            border-radius: 6%;
            font-weight: 700;
            cursor: pointer;
            user-select: none;

            &:active {
                transform: scale(.9);
            }

            .fa-arrow-right {
                margin-left: 15px;
                transition: .3s;
                font-size: 15px;
            }

            &:hover {
                .fa-arrow-right {
                    transform: rotate(180deg);
                }
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            visibility: hidden;

            &:target {
                visibility: visible;
                opacity: .85;

                .popup {
                    right: 50%;
                }
            }

            .popup {
                position: absolute;
                right: -50%;
                top: 50%;
                transition: 1s ease-out;
                padding-bottom: 20px;
                padding-top: 50px;
                padding-left: 20px;
                padding-right: 20px;
                transform: translate(50%, -50%);
                background: rgba(0, 0, 0, 0.2);
                width: 30%;
                @include tablet-landscape {
                    width: 40%;
                }
                @include tablet-portrait {
                    width: 61%;
                }
                @include mobile {
                    width: 70%;
                }

                p {
                    font-size: 23px;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    transform: translateY(100%);
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 80px;
                    margin-left: 30px;
                    margin-right: 30px;

                    .button {
                        border: 1px solid orange;
                        color: orange;
                        padding: 10px 15px;
                        cursor: pointer;
                        user-select: none;
                        font-size: 20px;
                        font-weight: 700;

                        &:hover {
                            color: #fff;
                            background-color: orange;
                        }

                        &:active {
                            transform: scale(.9);
                        }
                    }
                }
            }
        }

        .bubbles {
            margin-top: 200px;
            @include tablet-landscape {
                padding-top: 200px;
                margin: auto;
            }
            padding-bottom: 150px;
            display: flex;
            justify-content: space-between;
            width: 35%;
            @include tablet-landscape {
                width: 45%;
            }
            @include tablet-portrait {
                width: 60%;
            }
            @include mobile {
                width: 70%;
            }

            .bubble {
                background-color: rgb(80, 10, 200);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                cursor: pointer;
                box-sizing: border-box;

                &:hover {
                    border: 4px solid orange;
                }
            }

            .active {
                border: 4px solid orange;
            }
        }
    }

}





